body {
    margin: 0;
    background-color: #47df0bce;
    font-size: 18px;
}

div.header {
    max-width: 960px;
    margin: 0;
    padding: 30px;
}

#header{
    margin: 0 auto;
    background-color: rgba(0, 153, 255, 0.692);   
}

img.header_image {
    margin-left: -10px;
    float: left;
    width: 120px;
    height: 80px;
    vertical-align: middle;
}

div.Name {
    margin: 0 auto;
    margin-left: 180px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    vertical-align: middle;
}

div.body{
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

#tf{
    flex-direction: column;
    display: flex;
    padding: 10px;
} 

#e{
    order: 1;
}

#w{
    order: 2;
}

.menu{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 0;
}

.menu a{
    margin-left: -10px;
    margin-right: 40px;
    font-size: 20px;
    color: #2617cf;
    padding: 25px;
}

.links{
    margin-right: 45px;
}

a{
    color: rgba(202, 19, 19, 0.856);
    font-weight: bold;
}

li{
    list-style-type: none;
}

.mytable{
    text-align: center;
    border: 2px solid black;
    border-spacing: 1px;
}

.mytable th {
    font-weight: bold;
    padding: 3px;
    border: 2px solid black;
}

.mytable td{
    border: 2px solid black;
    padding: 3px;
}

.odd{
    background-color: red;
}

.even{
    background-color: rgb(240, 85, 13);
}

footer {
    height: 20px;
    padding: 10px;
    margin: 0;
    background-color: rgba(0, 153, 255, 0.692);
}


@media screen and (min-width: 640px) {
    body {
        font-size: 17px;
    }

    .menu {
        flex-direction: row;
    }

    a{
        color: rgba(202, 19, 19, 0.856);
        font-weight: bold;
    }

    .menu{
        text-align: center;
    }

    .menu a{
        color: rgba(202, 19, 19, 0.856);
        font-weight: bold;
    }

    #w{
        order: 1;
    }
    
    #e{
        order: 2;
    }

    div.header {
        margin: 0 auto;
        padding: 30px;
        max-width: 960px;
    }

    #header{
        margin: 0 auto;
        width: 100%;
        background-color: rgba(0, 153, 255, 0.692);   
    }

    img.header_image {
        margin-left: 0;
        float: left;
        width: 120px;
        height: 60px;
        vertical-align: middle;
    }

    div.Name {
        margin-left: 0;
        font-size: 30px;
        font-weight: bold;
        vertical-align: middle;
    }
    
    div.body{
        max-width: 960px;
        margin: 0 auto;
        padding: 10px;
    }

    .menu {
        margin: 0 auto;
        max-width: 960px;
        align-items: center;
        justify-content: center;
    }
}